*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* start header */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content nav a{
    margin-left: 35px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}
.content nav i{
    font-size: 12px;
}
.content nav a:hover{
    color: #f55f8d;
}
.content nav a:hover span{
    animation: animate 0.5s;
    display: inline-block;
}
.content button{
    margin-left: 50px;
    padding: 20px 40px;
    border-radius: 40px;
}
.btn-grad{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    transition: 0.5s;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 40px;
}
.btn-grad:hover{
    background-position: right center;
}
.btn-grad:focus{
    outline: none;
}
/* end header */
/* start banner */
.banner{
    background-image: url(./Samar/pic2.png);
    padding-top: 230px;
    background-size: 100%;
    overflow: hidden;
    /* background-repeat: no-repeat; */
    background-position: top;
    background-position-x:center ;
    background-position-y: top ;

}
.banner .icon i{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    text-align: center;
    line-height: 35px;
}
.banner__content{
    display: flex;
    align-items: center;
}
.banner__title{
    width: 63%;
    flex-shrink: 0;
}
.banner__title h3{
    font-size: 23px;
    color: #f55f8d;
    font-weight: 600;
}
.banner__title h1{
    font-size: 70px;
    font-weight: 700;
    color: #262626;
    margin: 20px 0;
}
.banner__title p{
    font-size: 18px;
}
.banner__title .icon{
    padding: 10px 5px 10px 0;
    font-size: 20px;
}
.banner__title .icon i{
    color: white;
}
.banner__title .icon:last-of-type{
    margin-bottom: 20px;
}
.banner__item img{
    flex-grow: 1;
    width: 590px;
}
.banner__item{
    flex-grow: 1;
}
/* end banner */
/* start services */
.services{
    padding-top: 120px;
    background-image: url(./Samar/bg2.png);
    background-size: cover;
    background-position: top center;
    
}
.services__title{
    text-align: center;
}
.services__title h3{
    color: #f55f8d;
    font-size: 26px;
    font-weight: 600;
}
.services__title h1{
    font-size: 70px;
    margin: 25px 0;
}
.services__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 30px;
}
.services__item{
    border-radius: 10px;
    padding: 30px 45px;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0,0,0,.1);
    transform: translateY(25px);
    transition: 0.5s;
}
.services__item:hover{
    transform: translateY(0);
}
.services__item h3{
    color: #262626;
    margin: 25px 0;
    font-weight: 600;
}
.services__item p{
    color: #636363;
    font-size: 18px;
}
.services__item img{
    width: 215px;
}
/* end services */
/* start about */
.about{
    padding: 120px 0 100px 0;
    background-image: url(./Samar/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right center;
}
.about__content{
    display: flex;
    align-items: center;
}
.about__item{
    width: 50%;
    flex-shrink: 0;
}
.about__item img{
    width: 100%;
    position: relative;
    height: 500px;
    width: 700px;
    border-radius: 60px;
    right: 215px;
}
.about__title{
    flex-grow: 1;
}
.about__title h3{
    color: #f55f8d;
    font-size: 23px;
    font-weight: 600;
}
.about__title h1{
    font-size: 70px;
    margin: 20px 0;
}
.about__title p{
    color: #636363;
    font-size: 16px;
}
.about__title .icon{
    display: flex;
}
.about__title .btn-grad{
    margin-top: 25px;
}
.about__title .icon i{
    color: #f55f8d;
    margin-right: 10px;
    font-size: 25px;
}

/* end about */
/* start number */
.number{
    padding: 80px 20px;
    background-image: url(./Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
}
.number__row{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.number__item i{
    font-size: 45px;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    line-height: 80px;
    color: white;
    border-radius: 50%;
    display: inline-block;
}
.number__item p{
    font-size: 70px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 0;
}
.number__item p:last-of-type{
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    line-height: 0;
}
/* end number */
/* start features */
.features{
    padding: 120px 0;
    background-image: url(./Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.features__contact{
    display: flex;
}
.features__title{
    width: 50%;
    flex-shrink: 0;
}
.features__title h1{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.features__item{
    flex-grow: 1;
    margin-right: -80px ;
}
.features__item img{
    max-width: 100%;
    animation: move 5s infinite;
}
.features__title p:first-child{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
}
.features__content{
    padding: 0 50px 30px 0;
}
.features__content:nth-last-of-type(2){
    padding: 0 0 30px 50px;
}
.features__icon h3{
    font-weight: 800;
    font-size: 1.5rem;
}
.features__icon{
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.features__icon div{
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}
.features__icon:hover div{
    color: #fff;
}
.features__icon p{
    font-size: 16px;
    color: #636363;
    margin-bottom: 0;
    transition: all 1s;
}
.features__icon:hover p{
    color: #fff;
}
.features__icon i{
    color: #f55f8d;
    font-size: 80px;
    z-index: 1;
    transition: all 1s;
}
.features__icon:hover i{
    color: #fff;
}
.features__icon::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    position: absolute;
    top: 0;
    left: 0;
    background-size: 200%;
    width: 100%;
    height: 100%;
    transition: all 1s;
    opacity: 0;
}
.features__icon:hover::after{
    opacity: 1;
}
/* end features */
/* start portfolio */
.portfolio{
    padding-bottom: 100px;
}
.portfolio .title{
    text-align: center;
}
.title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 800;
    margin-bottom: 20px;
}
.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.portfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
    aspect-ratio: 1/1;
}
.portfolio__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.portfolio__item:hover::before{
    left: 125%;
}
.portfolio__item1{
    grid-column: 1/span 2;
}
.portfolio__item5{
    grid-column: 1/span 2;
}
.portfolio__item6{
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio__content img{
    width: 100%;
    height: 100%;
}
.portfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-size: 200%;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    transform: translate(20px,-20px);
    transition: all 0.5s;
}
.portfolio__item:hover .portfolio__icon{
    transform: translate(0);
}
.portfolio__icon a{
    color: #fff;
}
.portfolio__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all 0.75s;
}
.portfolio__overlay:hover{
    opacity: 1;
}
.portfolio__text{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    transform: translateY(100px);
    transition: all 0.5s;
}
.portfolio__item:hover .portfolio__text{
    transform: translateY(0);
}
.portfolio__text h3{
    font-weight: 800;
    font-size: 22px;
}
.portfolio__text p{
    opacity: 0.7;
}
/* end port folio */
/* start plan */
.plan{
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-bottom: 100px;
}
.plan .title{
    text-align: center;
}
.plan__content img{
    width: 125px;
}
.plan__content h3{
    font-weight: 700;
    font-size: 2rem;
    color: #262626;
}
.plan__content span{
    font-weight: 800;
    font-size: 20px;
}
.plan__content span:first-child{
    font-weight: 800;
    font-size: 50px;
    color: #f8ae56;
}
.plan__icon span{
    font-size: 18px;
    font-weight: 400;
}
.plan__icon i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 15px;
}
.plan__content p{
    margin-bottom: 0;
}
.plan__content{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0,0,0,.1);
    border-image: 100 round;
    transition: 0.5s;
}
.plan__content:hover{
    border-image: url(./Samar/br.png) 1 round;
}
.plan__item{
    text-align: left;
    border-top: 1px solid #e1e1f0;
    padding: 15px 0;
}
.plan__icon{
    padding: 5px 0;
}
.plan__contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
/* end plan */
/* start testimonial */
.testimonial{
    background-image: url(./Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial .title{
    text-align: center;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
}
  
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
}
.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}
.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.testimonial-text i{
      position: absolute;
      top: 10px;
      left: 30px;
      font-size: 70px;
      color: #f55f8d;
      transform: rotate(-180deg);
}
.testimonial-text strong{
    font-size: 22px;
}
.testimonial-text span{
    color: #f55f8d !important;
    display: block;
    font-size: 18px;
    font-style: oblique;
}
.testimonial-text p{
    font-size: 18px;
    color: #636363;
    margin-top: 40px;
    font-style: italic;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: #f55f8d;
}
/* end testimonial */
/* start blog */
.blogs{
    background-image: url(./Samar/bg16.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding-bottom: 50px;
}
.blogs__header img{
    width: 100%;
    border-radius: 8px;
}
.blogs__header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    padding: 10px 20px;
    position: absolute;
    border-radius: 6px;
    color: #fff;
    left: 15px;
    bottom: 220px;
}

.blogs__body h3{
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin-bottom: 0;
}
.blogs__body p{
    font-size: 16px;
    color: #636363;
}
.blogs__body{
    padding: 40px 15px 20px 15px;

}
.blogs__footer{
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 15px;
    font-size: 14px;
}
.blogs__footer span{
    color: #f55f8d;
    text-transform: uppercase;
}
.blogs__footer p:last-of-type span{
    color: #636363;
}
.blogs__footer i{
    color: #f55f8d;
}
.blogs__footer p{
    display: inline;
}
.blogs__footer:last-of-type p{
    margin-left: 10px;
}
.blogs__item{
    text-align: left;
    border-radius: 8px;
    background: rgba(245,95,141,.1);
    margin-right: 30px;
}
/* end blogs */
/* start footer */
footer{
    background-image: url(./Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    color: #FFF;
    font-size: 15px;
    position: relative;
}
footer::before{
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.footer__top{
    display: flex;
    background-color: #fff;
    background-image: url(./Samar/pattern3.png);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    position: relative;
    padding: 50px 60px;
}
.footer__text h2{
    font-size: 28px;
    color: #262626;
    font-weight: 600;
}
.footer__text{
    width: 50%;
}
.footer__form{
    width: 50%;
}
.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #FFF;
    flex: 1 1 auto;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #fff;
    transition: all 0.5s;
    outline: none;
}
.footer__form input:hover{
    border-color: #f55f8d;
}
.footer__form form{
    display: flex;
    box-shadow: 0 0 60px 0 rgb(0,0,0,.1);
    border-radius: 0.5rem;
}
.footer__form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0 0.5rem 0.5rem 0;
    transition: all 0.5s;
}
.footer__form button:hover{
    background-position: right center;
}
.footer__form button:hover i{
    animation: animate1 0.5s forwards;
}
.footer__bottom{
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer__item{
    width: 25%;
}
.footer__item img{
    margin-bottom: 15px;
}
.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #fff;
    position: relative;
}
.footer__item h3::after,
.footer__item h3::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    height: 4px;
    border-radius: 20px;
    background-size: 200%;
}
.footer__item h3::before{
    width: 15px;
}
.footer__item h3::after{
    width: 45px;
    left: 20px;
}
.footer__item li{
    list-style: none;
    padding: 0.5rem 0;
}
.footer__item a{
color: #636363;
font-size: 16px;
transition: all 0.5s;
text-decoration: none;
}
.footer__item a:hover {
    color: #fff;
}
.footer__contact i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.footer__contact li{
    display: flex;
    padding: 8px 0;
}
.footer__copyright{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
    margin: 0 -127px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.footer__left p{
    display: inline;
}
.footer__left span{
    color: #f55f8d;
}
.footer__right a{
    text-decoration: none;
    color: #fff;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    font-size: 14px;
}
/* end footer */
/* go to top */

.backToTop{
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    display: block;
    visibility: hidden;
    opacity: 0;
}
.backToTop i{
    color: #fff;
}
.cd-top--fade-out{
    opacity: .5;
  }
.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}

/* end go to top */
/* animation */
@keyframes animate1 {
    49%{
        transform: translateX(100%) ;
    }
    50%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
    }
}
@keyframes animate {
    49%{
        transform: translateY(100%) ;
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1 ;
    }
}
@keyframes move{
    0%{
        transform: rotate(1deg) ;
    }
    50%{
        transform: rotate(-1deg) ;
    }
    100%{
        transform: rotate(1deg) ;
    }
}